<section
  class="parent-grid-item"
  [ngClass]="{ removing: isRemoving }"
  [ngStyle]="{
    height: heightChild,
    'margin-top': isChart ? offsetY + 'px' : '0px'
  }"
>
  <!--ANIMATION REMOVING-->
  <div [ngClass]="{ enabled: isRemoving }" class="removing-container"></div>
  <!--BUTTONS DRAG AND REMOVE-->
  <div class="item-buttons">
    <button
      mat-icon-button
      color="primary"
      class="drag-handler"
      matTooltip="Mover"
    >
      <mat-icon>open_with</mat-icon>
    </button>
    <!--BUTTON MENU DELETE AND CHANGE-->
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-icon-button
        color="warn"
        class="remove-button"
        (click)="removeItem($event)"
        (touchstart)="removeItem($event)"
        matTooltip="Eliminar"
        matTooltipPosition="right"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        class="edit-button"
        (click)="modalDataTemplate(true)"
        (touchstart)="modalDataTemplate(true)"
        matTooltip="Editar"
        matTooltipPosition="right"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-menu>
  </div>
  <!--BUTTON ADD TEMPLATE and LOADING -->
  <section
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
    class="container-item"
    *ngIf="!isChart"
  >
    <button
      *ngIf="!isLoading"
      mat-button
      class="btn-add-template"
      (click)="modalDataTemplate()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!--LOADING CHART-->
    <mat-spinner
      *ngIf="isLoading"
      class="loading-chart"
      [diameter]="50"
    ></mat-spinner>
  </section>

  <!--GRAFICA-->
  <apx-chart
    *ngIf="isChart"
    #chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [colors]="chartOptions.colors"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [markers]="chartOptions.markers"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</section>
