<section class="home-card gridster-item">
  <div class="title-container">
    <h3 class="small-title">panel de control</h3>
    <h1 class="fat-title">Smart Campus</h1>
    <span class="uis-text">
      UIS
    </span>
  </div>
  <img src="assets/home/robot-hello.svg" class="img-hello-robot" />
  <span class="describe">
    Aquí podrás visualizar los datos de los dispositivos IoT de manera fácil y
    personalizada.
  </span>
  <span class="loggin" *ngIf="!authenticated">
    Para usar la aplicacion debe iniciar sesión.
  </span>
  <button
    mat-raised-button
    color="primary"
    class="btn-tutorial"
    routerLink="/dashboard/home/tutorial"
    *ngIf="authenticated"
  >
    Iniciar tutorial
  </button>
  <button
    mat-raised-button
    color="primary"
    class="btn-tutorial"
    *ngIf="!authenticated"
    (click)="login()"
  >
    Iniciar Sesion
  </button>
</section>
