<!--PLANTILLA ACTUAL-->
<div class="container-form">
  <app-mat-select-complete
    #matSelectTemplate
    label="Plantilla"
    placeholder="Nombre de la plantilla"
    [control]="form.controls.name"
    key="name"
    keyValue="id"
    [list]="listTemplates$"
    (selectedChange)="selectTemplate($event)"
  >
    <img
      matSuffix
      width="25"
      height="25"
      *ngIf="templateIco"
      [src]="templateIco"
    />
  </app-mat-select-complete>

  <!--DEVICE-->
  <app-mat-select-complete
    #matSelectDevice
    label="Dispositivo"
    placeholder="Nombre del dispositivo"
    [control]="form.controls.idDevice"
    key="name"
    keyValue="id"
    [list]="listDevices$"
    reloadOnTyping="true"
    (selectedChange)="selectDevice($event)"
  >
    <span hint *ngIf="detailsDevice">{{ detailsDevice }}</span>
  </app-mat-select-complete>

  <!--DETALLES DEL DISPOSITIVO-->
  <!-- <mat-form-field *ngIf="detailsDevice">
    <mat-label>Descripcion del dispositivo</mat-label>
    <textarea matInput [value]="detailsDevice" disabled="true"></textarea>
  </mat-form-field> -->

  <form [formGroup]="form" class="form-dates">
    <mat-button-toggle-group
      [formControl]="form.controls.realtime"
      name="realtime"
      aria-label="Realtime"
    >
      <mat-button-toggle value="0">
        <mat-icon>date_range</mat-icon>
        <mat-label>Historico</mat-label>
      </mat-button-toggle>
      <mat-button-toggle value="1">
        <mat-icon>date_range</mat-icon>
        <mat-label>Tiempo real</mat-label>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="container-dates">
      <!--fecha desde-->
      <mat-form-field>
        <mat-label>Fecha inicio</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="YYYY-MM-DD HH:mm:ss"
          formControlName="initialDate"
          [max]="today"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
      </mat-form-field>

      <!--FECHA HASTA-->
      <mat-form-field>
        <mat-label>Fecha hasta</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker2"
          placeholder="YYYY-MM-DD HH:mm:ss"
          formControlName="endDate"
          [min]="form.controls.initialDate.value"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </form>
</div>
