<gridster [options]="options" class="gridster-container-home">
  <gridster-item [item]="dashboard[0]" class="gridster-item">
    <div class="content-first">
      <div class="message">
        <h1 style="font-size: 45px">Bienvenido al dashboard de Smart campus</h1>
        <span>
          visualiza los datos de los dispositivos conectados a la arquitectura
          de manera facil y personalizada.
        </span>
      </div>
      <img src="assets/home/robot-hello.svg" class="img-hello-robot" />
    </div>
  </gridster-item>

  <gridster-item [item]="dashboard[1]" class="gridster-item">
    el segundo
  </gridster-item>

  <gridster-item [item]="dashboard[2]" class="gridster-item">
    el tutorial
    <a routerLink="/dashboard/home/tutorial">Iniciar tutorial</a>
  </gridster-item>
</gridster>
