.gridster-container-home {
  height: 78vh;
  background-color: transparent;
}

:host {
  padding: 32px;
  box-sizing: border-box;
  .gridster-item {
    background-color: var(--accent-darker-color);
    border-radius: 16px;
    padding: 16px;
    .content-first{
      display: flex;
    }
    .message {
      margin-right: 50px;
      h1{
        margin: 0;
      }
    }
    .img-hello-robot {
      margin-right: 40px;
    }
  }
}
