.gridster-container-home {
  height: 78vh;
  background-color: transparent;
}

:host {
  padding: 32px;
  box-sizing: border-box;
  .gridster-item{
    background-color: var(--accent-darker-color);
    border-radius: 16px;
    padding: 16px;
  }
  .img-hello-robot{
    position: fixed;
    top: 0;
    right: 16px;
  }
}
