<mat-drawer-container class="drawer-container">
  <!--LEFT SIDEBAR-->
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    [opened]="opened"
    class="drawer"
  >
    <section class="drawer-top">
      <!--USER-->
      <div class="avatar-user">
        <img
          src="./assets/shiba1.jpg"
          class="img"
          [ngClass]="{ 'img-close': !opened }"
        />
        <mat-label>{{ user.username }}</mat-label>
        <mat-label>{{ user.rol }}</mat-label>
      </div>

      <!--MENUS-->
      <div class="menus-section">
        <mat-list
          class="menu-list"
          name="button-navbar"
          aria-label="menu sidebar"
        >
          <mat-list-item
            *ngFor="let itemMenu of menus"
            class="item-menu"
            [ngClass]="{
              active: controlMenu.value === itemMenu.key ? true : false
            }"
            (click)="changeMenu(itemMenu)"
            [matTooltip]="!opened ? itemMenu.label : ''"
            [matTooltipPosition]="!opened ? 'right' : 'below'"
            [matTooltipShowDelay]="500"
          >
            <div class="lateral"></div>
            <mat-icon matListItemIcon>{{ itemMenu.icon }}</mat-icon>
            <label class="item-label" matListItemTitle *ngIf="opened">
              {{ itemMenu.label }}
            </label>
          </mat-list-item>
        </mat-list>
      </div>
    </section>

    <!--TUTORIAL-->
    <!-- <section class="drawer-bottom">
      <button
        mat-icon-button
        aria-label="User"
        routerLink="home/tutorial"
        matTooltip="Tutorial"
        matTooltipPosition="right"
      >
        <mat-icon>info</mat-icon>
      </button>
    </section> -->
  </mat-drawer>

  <!-- Menu Toolbar -->
  <mat-toolbar class="section-toolbar">
    <button mat-icon-button aria-label="espandir" (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-center">
      <a class="app-bar-title" routerLink="home"> SMART CAMPUS </a>
      <!--Tema oscuro-->
      <mat-slide-toggle
        class="slide-theme"
        matTooltip="Tema oscuro"
        [(ngModel)]="darkMode"
      >
      </mat-slide-toggle>
    </div>

    <!--botones superiores-->
    <div class="btn-actions">
      <button
        mat-icon-button
        aria-label="User"
        (click)="logout()"
        matTooltip="Cerra sesion"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!--Body-->
  <section class="smart-campus-container-section">
    <div class="body-section">
      <router-outlet></router-outlet>
    </div>
  </section>
</mat-drawer-container>
