@use "@angular/material" as mat;

//CARGANDO THEMAS MY OWN COMPONENTS
@mixin layout-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  .mat-list-item.item-menu.active {
    background-color: map-get($background, background);
  }
  app-root:not(.dark-mode) {
    .mat-list-item.item-menu {
      &.active {
        background: map-get($background, background);
        .lateral {
          background-color: map-get($primary, darker);
        }
      }
      &:hover {
        background: map-get($background, background);
      }
    }
  }
  //estilos en especifico para el tema oscuro
  app-root.dark-mode {
    .mat-list-item.item-menu.active .lateral {
      background-color: map-get($primary, main);
    }
    .mat-list-item.item-menu:hover {
      background: map-get($background, background);
    }
  }
  .app-bar-title {
    text-decoration: none;
    color: white;
  }
}

//CARGANDO THEMAS MY OWN COMPONENTS
@mixin custom-theming($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  .gridster-item {
    background-color: map-get($background, card);
  }

  .smart-campus-container-section .body-section {
    background-color: map-get($background, background);
  }

  app-root:not(.dark-mode) .mat-drawer-container {
    background-color: map-get($primary, main);
  }
  app-root.dark-mode .mat-drawer-container {
    background-color: $dark-bg-lighter-5;
  }
  @include layout-theme($theme);

  @if $is-dark {
    apx-chart {
      text, .apexcharts-legend-text {
        fill: white;
        color: white !important;
      }
    }
  }

  .apexcharts-menu.apexcharts-menu-open {
    background-color: map-get($background, background);
    color: map-get($foreground, text);
  }
}
