<div class="modal">
  <div class="header">
    <div class="title">
      {{ data.title }}
    </div>
    <div class="close">
      <button
        mat-icon-button
        mat-dialog-close
        (click)="cancelar()"
        matTooltip="
          Cerrar
        "
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="body">
    <div [innerHTML]="data.content"></div>
  </div>
  <div class="actions">
    <button
      mat-stroked-button
      class="secondary-modal"
      (click)="cancelar()"
      mat-dialog-close
      [title]="data?.actions?.secondary ?? 'Cancelar'"
    >
      {{ data?.actions?.secondary ?? "Cancelar" }}
    </button>
    <button
      mat-raised-button
      (click)="aceptar()"
      mat-dialog-close
      color="primary"
      [title]="data?.actions?.primary ?? 'Aceptar'"
    >
      {{ data?.actions?.primary ?? "Aceptar" }}
    </button>
  </div>
</div>
