<section class="status-bar">
  <!-- <app-mat-select-complete
    label="Panel de control"
    placeholder="Nombre del panel de control"
    key="name"
    keyValue="id"
    [control]="formDashboard"
    [clearButton]="true"
    [list]="listDashbaordGrid$"
    (selectedChange)="selectDashbaord($event)"
  >
  </app-mat-select-complete> -->
  <!--AGREGAR GRILLA-->
  <button
    mat-icon-button
    (click)="addGridItem()"
    class="btn-add-grid"
    matTooltip="Añadir bloque"
    matTooltipPosition="below"
  >
    <mat-icon>add</mat-icon>
  </button>
  <!--GUARDAR-->
  <button
    mat-icon-button
    class=""
    (click)="saveOptions()"
    matTooltip="Guardar"
    matTooltipPosition="below"
  >
    <mat-icon class="saving-ico">save</mat-icon>
  </button>
  <!--DESCARTAR-->
  <button
    mat-icon-button
    (click)="discardChanges()"
    matTooltip="Descartar"
    matTooltipPosition="below"
    [disabled]="!isChanged"
  >
    <mat-icon class="saving-ico">settings_backup_restore</mat-icon>
  </button>
</section>

<gridster [options]="options" class="gridster-container">
  <ng-container *ngFor="let item of dashboard; let i = index">
    <gridster-item [item]="item" class="gridster-item">
      <app-dashbaord-grid-item
        [item]="item"
        [index]="i"
        [formTemplate]="templates[i]"
        [gridsterItem]="getParentComponent(i)"
        (save)="saveTemplate($event)"
        (remove)="removeItem($event)"
      ></app-dashbaord-grid-item>
    </gridster-item>
  </ng-container>
  <div class="no-content-gridster" *ngIf="dashboard?.length == 0">
    <strong>Ups... no hay bloques en donde crear las graficas.</strong>
    <br />
    <span>Para crear los bloques, presione el boton de "+" de arriba.</span>
  </div>
</gridster>
